@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&family=Playfair+Display:wght@700&family=Poiret+One&display=swap');

/*
font-family: 'Overlock SC', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poiret One', cursive;
*/
/*----------------------------------------------------------------------------------------------------------------------------------------- */
/* header css*/

.header{
  top: 0;
  width: 100vw;
  height: 20vw;  
  position: absolute;
  padding-left: 15vw;
  padding-right: 5vw;
  padding-top: 2vw;
  background-color: #f1c5a3;
  z-index: -11;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #35455d;

}
#title{
  text-transform: bold;
  font-family: 'Playfair Display';
}
#sub-title{
  font-family: 'Poiret One';
}
/*.header{
  top: 0;
  margin-left: 10vw;
  width: 90vw;
  height: 20vw;  
  position: absolute;
  background-color: #f1c5a3;
  z-index: -1;
  margin: 0 0 0 0;
  border: 0 0 0 0;
  display: block;
}*/

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 10vw; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  background-color: #35455d; /* Black*/
  padding-top: 45vh; /* Place content 60px from the top */
  display: block;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 2vw 8px 2vw;
  text-decoration: none;
  font-size: 1.2em;
  color: #818181;
  z-index:1;
  display: block;
  margin: 0;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.footer{
  top: 100;
  width: 100vw;
  height: 20vw;  
  position: absolute;
  padding-left: 15vw;
  background-color: #f1c5a3;
  z-index: -11;
  //display: block;
}

/*----------------------------------------------------------------------------------------------------------------------------------------- */


/* Posts for services offered on index page*/
.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: #fff;
  padding: .5em;
}
.tooltip-wrap:hover .tooltip-content {
  display: block;
}

/*----------------------------------------------------------------------------------------------------------------------------------------- */

/* Posts for CONTACTS offered on CONTACT page*/
.contact-table .tooltip-wrap {
  position: relative;
}
.contact-table .tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: #fff;
  padding: .5em;
}
.contact-table .tooltip-wrap:hover .tooltip-content {
  display: block;
}

.contact-button{
  background:#19cca3;
  color:#ffffff;
  font-family:Helvetica, sans-serif;
  font-size:18px;
  font-weight:600;
  line-height:120%;
  margin:0;
  text-decoration:none;
  text-transform:none;
}

/*----------------------------------------------------------------------------------------------------------------------------------------- */


.main-body{
   padding: 2vw 7vw 2vw 15vw;
   margin-top: 20%;
   width: 100vw;
   z-index: -1;
   background-color: #92b1b6;
   
}

body {
    font-size: 20px;
    font-family: "Twentieth Century W01",Futura,Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 0;
}




/*----------------------------------------------------------------------------------------------------------------------------------------- */


.slide-button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  background-color: #35455d;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #35455d;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

/*footer css*/
/*footer links*/
.footlink {
  text-decoration: none;
  color: white;
}
.footlink:hover {
  color:rgba(255, 255, 255, 0.705); 
  text-decoration: none;
}

/*footer container*/
.sec-footer{
    background: #35455D;
    color: #fff;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}
/*maintain color*/
.sec-footer .desc-box{
    background: transparent;
    border: 0;
}
/*white bar*/
.sec-footer .desc-box .card-title::after{
    content: ' ';
    background: #ffffff;
    display: block;
    width: 100%;
    height: 0.2rem;
    margin-top:0.3rem;
}
.sec-footer .desc-box .card-text{
    font-family:iranyekan_light;
    text-align: justify;
}

/*social media links animations*/
.social {
    position: relative;
    font-size: 20px;
    color: #e6e6e6;
    width: 45px;
    margin: 4px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 50em;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.social:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #e6e6e6;
    content: '';
    z-index: -1;
    border-radius: 50%;
}
.social:before {
    color: #fff;
}
.social:before,
.social:after {
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.social:hover,
.social:active,
.social.hover {
  color: #fff;
}
.social:hover:after,
.social:active:after,
.social.hover:after {
    border-color: #fff transparent #fff transparent;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}